@model PersonListVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-2">
    <a asp-action="Create" class="btn btn-success">დამატება</a>
</div>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">სურათი</th>
            <th scope="col">სახელი</th>
            <th scope="col">გვარი</th>
            <th scope="col">სქესი</th>
            <th scope="col">ელ.ფოსტა</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <select class="form-control">
                    <option>ყველა</option>
                    <option>მდედრობითი</option>
                    <option>მამრობითი</option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <button type="button" class="btn btn-info">ძებნა</button>
            </td>
        </tr>
        @foreach (var item in Model.Persons)
        {
        <tr>
            <td><img src="@item.Picture" height="100"/></td>
            <td>@item.Firstname</td>
            <td>@item.Lastname</td>
            <td>@item.Gender</td>
            <td>@item.Email</td>
            <td>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ქმედება
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">დათვალიერება</a>
                        <a class="dropdown-item" href="#">რედაქტირება</a>
                        <a class="dropdown-item" href="#">წაშლა</a>
                    </div>
                </div>
            </td>
        </tr>
        }

    </tbody>
</table>